.header {
  background-color: grey; /* Keeping a dark header for contrast */
  color: white; /* White text for contrast */
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #033103; /* Lime Green for navigation */
}

.nav-item {
  float: left;
}

.nav-link {
  display: block;
  color: white; /* White text on green background */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #033103; /* Darker green on hover */
}

.footer {
  background-color: #033103; /* Lime Green for footer */
  color: white; /* White text for readability */
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.portfolio, .projects-grid, .project, .project-link, .project-title, .contact-form {
  /* Adjust the styles here as needed, primarily focusing on text color and highlights */
  /* For instance, ensure text colors are dark for readability against white backgrounds */
  /* Use green accents for elements like .project-title:hover */
}

.project:hover, .project-title:hover {
  /* Consider green highlights or borders for interactivity */
}

.contact-form input, .contact-form textarea {
  background-color: #f0f0f0; /* Light grey for input backgrounds */
  color: #333; /* Dark text for readability */
}

.contact-form button {
  background-color: #32CD32; /* Lime Green for submit button */
}

.contact-form button:hover {
  background-color: #228B22; /* Darker green on hover */
}

.link-img {
  color: white;
}